<html>
<head></head>
<body>
<div class="row">
    <div class="col">


        {% for categoria in categorias %}
        <div>
            {# {% for last in categoria.movel_ultimos %} #}
            {# {{ last }} #}
            {{ categoria.movel_ultimos.0 }}
            {{ categoria.movel_ultimos.0.preco }}
            {{ categoria.movel_ultimos.0.descricao }}


            {{ categoria.movel_ultimos.1 }}
            {# {{ categoria.movel_ultimos.2 }} #}
            {# {{ categoria.movel_ultimos.3 }} #}
            {# {% endfor %} #}

        </div>
        <h1 class="text-center mt-4 mb-3">{{ categoria.titulo }}</h1>
        <div class="row">
            {% for movel in categoria.movel_set.all %}

            <div class="col">
                <div class="card">
                    <img class="card-img-top"
                         src="{{ movel.foto.url }}"
                         alt="{{ movel.titulo }}">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ movel.titulo }} - {{ movel.preco }}
                        </h5>
                        <p class="card-text"> {{ movel.descricao }}</p>
                        <a href="#" class="btn btn-primary">Detalhes</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>

</body>
</html>