django==2.1.3
pytz==2018.7
python-decouple==3.1
gunicorn==19.9.0
psycopg2-binary==2.7.5
dj-database-url==0.5.0
Pillow==5.3.0
# cloudinary
certifi==2018.10.15
chardet==3.0.4
cloudinary==1.14.0
django-cloudinary-storage==0.2.3
idna==2.7
mock==2.0.0
pbr==5.1.0
requests==2.20.1
urllib3==1.24.1
# shell_plus
django-extensions==2.1.3